<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <description>このサイトでは、Ryo Nakamura（@r7kamura）が、日々の生活やプログラミングに関する文章を公開しています。</description>
    <link><%= request.base_url %></link>
    <atom:link href="<%= request.base_url %>/feed.xml" rel="self"/>
    <title>r7kamura.com</title>
    <managingEditor>r7kamura@gmail.com (Ryo Nakamura)</managingEditor>
    <% @articles.each do |article| %>
    <item>
      <title><![CDATA[<%= article.title %>]]></title>
      <description><![CDATA[<%= article.summary %>]]></description>
      <link><%= "#{request.base_url}#{article.canonical_path}" %></link>
      <pubDate><%= article.published_at.rfc822 %></pubDate>
      <content:encoded><![CDATA[<%= article.rendered_body_for_rss %>]]></content:encoded>
      <guid><%= "#{request.base_url}#{article.canonical_path}" %></guid>
    </item>
    <% end %>
  </channel>
</rss>
