<section>
  <h2>記事</h2>
  <p><%= description %></p>
  <ol class="articles">
    <% @articles.each do |article| %>
      <li>
        <time datetime="<%= article.published_at.iso8601 %>"><%= article.published_at.strftime('%Y年%m月%d日') %></time>
        <a href="/articles/<%= article.id %>"><%= article.title %></a>
      </li>
    <% end %>
  </ol>
</section>
