<section>
  <h2>最近の記事</h2>
  <ol class="articles">
    <% @articles.each do |article| %>
      <li>
        <time datetime="<%= article.published_at.iso8601 %>"><%= article.published_at.strftime('%Y年%m月%d日') %></time>
        <a href="/articles/<%= article.id %>"><%= article.title %></a>
      </li>
    <% end %>
  </ol>
</section>
<section>
  <h2>説明</h2>
  <p>
    <%= description %>
  </p>
  <ul>
    <li>
      記事ごとの更新情報を<a href="https://r7kamura.com/feed.xml">フィード</a>で配信しています。
    </li>
    <li>
      ソースコードを<a href="https://github.com/r7kamura/r7kamura.com">GitHub</a>で公開しています。
    </li>
    <li>
      スポンサーを<a href="https://github.com/sponsors/r7kamura">GitHub Sponsors</a>で募集しています。
    </li>
    <li>
      商品の紹介にAmazon.co.jpアソシエイトを利用しています。
    </li>
  </ul>
</section>
<section>
  <h2>作者</h2>
  <p>このウェブサイトは、Ryo Nakamuraが運営しています。このウェブサイトについて連絡したい場合は、<a href="https://twitter.com/r7kamura">Twitter</a>、<a href="https://github.com/r7kamura/r7kamura.com/issues">GitHub</a>、または<a href="mailto:r7kamura@gmail.com">メール</a>にてご連絡ください。</p></p>
</section>
