<section>
  <h2>最近の記事</h2>
  <ol class="articles">
    <% @articles.each do |article| %>
      <li>
        <time datetime="<%= article.published_at.iso8601 %>"><%= article.published_at.strftime('%Y年%m月%d日') %></time>
        <a href="/articles/<%= article.id %>"><%= article.title %></a>
      </li>
    <% end %>
  </ol>
</section>
<section>
  <h2>説明</h2>
  <p>
    <%= description %>
    <br>
    商品の紹介に、Amazon.co.jpアソシエイトを利用しています。
  </p>
</section>
<section>
  <h2>作者</h2>
  <p>このウェブサイトは、Ryo Nakamura (a.k.a. r7kamura) が運営しています。このウェブサイトについて連絡したいことがある場合は、<a href="https://twitter.com/r7kamura">Twitter</a>、<a href="https://github.com/r7kamura/r7kamura.com/issues">GitHub</a>、または<a href="mailto:r7kamura@gmail.com">メール</a>にてご連絡ください。</p>
</section>
<section>
  <h2>フィード</h2>
  <p>
    記事の更新情報を<a href="/feed.xml">Atom形式のフィード</a>で配信しています。フィードリーダー等でご活用ください。<br>
  </p>
</section>
<section>
  <h2>ソースコード</h2>
  <p>
    このウェブサイトの完全なソースコードは、<a href="https://github.com/r7kamura/r7kamura.com">GitHubのリポジトリ</a>で公開されています。また、ウェブサイトの配信に必要なファイルの生成にはGitHub Actionsを、それらの配信にはGitHub Pagesを利用しています。
  </p>
</section>
<section>
  <h2>スポンサー</h2>
  <p>
    <a href="https://github.com/sponsors/r7kamura">GitHub Sponsors</a>にて、このウェブサイトの運営や、プログラミングに関わる活動を支援していただけるスポンサーを募集しています。
  </p>
</section>
